<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngStyle]="{ 'background-image': 'url(' + photo.url + ')' }"></div>
    <mat-card-title>{{ photo.title }}</mat-card-title>
    <mat-card-subtitle>Future subtitle ...</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="photo.url" [alt]="photo.title">
  <mat-card-content>
    <p>{{ photo.description }}</p>
    <ng-container *ngIf="photo.hasComments">
      <photo-comment *ngFor="let comment of photo.comments" [comment]="comment"></photo-comment>
    </ng-container>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onEditClick()">Edit</button>
    <button mat-button (click)="onShareClick(photo)">SHARE</button>
  </mat-card-actions>
</mat-card>
